# IDE files
*.iml
.idea
.vscode 

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# npm
node_modules

# build
main.js
*.js.map
meta.json
styles.css
data.json

# local config
reload.local.sh
